target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/src/main/Webapp/node_modules
/src/main/Webapp/.pnp
/src/main/Webapp/.pnp.js

# testing
/src/main/Webapp/coverage

# production
/src/main/Webapp/build

# misc
/src/main/Webapp/.DS_Store
/src/main/Webapp/.env.local
/src/main/Webapp/.env.development.local
/src/main/Webapp/.env.test.local
/src/main/Webapp/.env.production.local

/src/main/Webapp/npm-debug.log*
/src/main/Webapp/yarn-debug.log*
/src/main/Webapp/yarn-error.log*



# custom
.idea